:root {
    --dark: #1e2329;
    --light: #fafafa;
    --success: #03a66d;
    --danger: #cf304a;
    --fullname: #b6b6b6;
    --border: #949191;
}

* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
    height: 170px;
    max-width: 15rem;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: var(--dark);
    padding: 17px;
    border-radius: 15px;
    box-shadow: rgba(30, 35, 41, 0.5) 0px 10px 30px;
}
.container::-webkit-scrollbar{
    display: none;
}
.name,
.loading-text {
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
}
.fullname {
    color: var(--fullname);
    font-size: 14px;
    margin-top: 2px;
    font-weight: 500;
}
.item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--border);
}
.item:first-child {
    padding-top: 0px;   
}
.item:last-child {
    padding-bottom: 0px;
    border-bottom: 0px;
}
.icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.price-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.price {
    font-weight: 500;
    color: var(--light);
    font-size: 16px;
}
.price-change {
    margin-top: 3px;
}
.price-change.danger {
    color: var(--danger);
}
.price-change.success {
    color: var(--success);
}
  